{{template "base" .}}
{{define "title"}}Room #{{.Room.ID}}{{end}}
{{define "body"}}
<div class='snippet'>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create task
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/task" method="POST" class="form login">
                        <div class="form__field">
                            <input id="title" type="text" name='title' class="form__input" placeholder="Task Title" required="">
                            <input name="room_id" value="{{.Room.ID}}" style="visibility: hidden">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='metadata'>
        <strong>{{.Room.Title}}</strong>
        <span>#{{.Room.ID}}</span>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Tasks</th>
                <th scope="col">Alibi</th>
                <th scope="col">Zanggar</th>
                <th scope="col">Duman</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Read Book</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                </td>
            </tr>
        <tr>
            <td>Solve Leetcode</td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">2</label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="customCheck2">2</label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="customCheck2">2</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Do train</td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">3</label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="customCheck3">3</label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="customCheck3">3</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class='metadata'>
        <time>Created: </time>
        <time>Expires: </time>
    </div>
</div>
{{end}}